* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    margin: 0%;
}

/*RESPONSIVIDADE MOBILE*/
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    margin-bottom: 22px;
    background-color: #E0E0E0;
    height: 100%;
    padding-right: 25px;
    padding-left: 25px;
    flex-wrap: nowrap;
    max-width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #333333;
}

/*menu*/

#menu {
    opacity: 0;
}

#menu:checked+.botao-menu>span {
    transform: rotate(45deg);
}

#menu:checked+.botao-menu>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu:checked+.botao-menu>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu:checked.menu-caixa {
    left: 0 !important;
}

.botao-menu {
    position: fixed;
    top: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.botao-menu>span,
.botao-menu>span::before,
.botao-menu>span::after {
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.botao-menu>span::before {
    content: '';
    top: -8px;
}

.botao-menu>span::after {
    content: '';
    top: 8px;
}

.menu-caixa {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu-caixa {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu-caixa:hover {
    background-color: #CFD8DC;
}

/* fim menu */


#transacao-titulo,
#extrato-titulo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 22px;
    align-items: center;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

input,
#estado-transacao {
    width: stretch;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #979797;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #888888;
    padding-left: 10px;
}

.botao-adicionar {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    color: #FFFFFF;
    background: #333333;
    border: none;
    height: 32px;
    width: 100%;
    border-radius: 4px;
    align-items: center;
}

.controle-financeiro {
    display: flex;
    align-items: stretch;
    width: 100%;
    border-bottom: 1px solid #979797;
    flex-direction: column;
    padding-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-left: 20px;
    margin-right: 20px;
}

#transacao-titulo {
    display: none;
}

td,
th {
    border-bottom-style: ridge;
    padding: 13px;
    display: table-cell;
    text-align: justify;
}

#primeira-linha-tabela {
    border-bottom-style: ridge;
    padding: 15px;
}

#tabela-extrato {
    display: inline-table;
    width: 100%;
    height: 20px;
    line-height: 22px;
    font-size: 18px;
    border-collapse: collapse;
}

#total-extrato {
    border-top-style: double;
    font-size: bold;
}

/*FIM DA RESPONSIVIDADE MOBILE */
/*********************************************************/
/* RESPONSIVIDADE TABLET PORTRAIT */

@media screen and (min-width:412px) {
    header {
        display: flex;
        font-size: 22px;
        flex-direction: row;
        background-color: #E0E0E0;
        height: 100%;
        width: auto;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        padding-right: 35px;
        padding-left: 35px;
        max-width: 100%;
    }

    .controle-financeiro {
        display: flex;
        border: 2px solid #E0E0E0;
        border-radius: 5px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        margin: 20px;
        flex-direction: row;
        padding: 20px;
    }

    #extrato-titulo,
    #transacao-titulo {
        padding-top: 35px;
        display: flex;
        justify-content: space-evenly;
    }

    main,
    #tabela-extrato {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-around;
    }
}

/*FIM DA RESPONSIVIDADE TABLET PORTRAIT */
/*********************************************************/
/* RESPONSIVIDADE TABLET LANDSCAPE */

@media screen and (max-width:1023px) and (orientation: landscape) {
    main {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-around;
    }

    .controle-financeiro {
        display: flex;
        border: 2px solid #E0E0E0;
        border-radius: 5px;
        flex-wrap: nowrap;
        margin: 20px;
        flex-direction: column;
        padding: 20px;
    }
}

/*FIM DA RESPONSIVIDADE TABLET LANDSCAPE */
/*********************************************************/
/* RESPONSIVIDADE DESKTOP */

@media screen and (min-width:1024px) and (max-width: 1900px) {
    header {
        display: flex;
        font-size: 25px;
        flex-direction: row;
        background-color: #E0E0E0;
        height: 100%;
        width: auto;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        padding-right: 35px;
        padding-left: 35px;
        max-width: 100%;
    }

    input,
    #estado-transacao {
        width: stretch;
        width: -webkit-fill-available;
        width: -moz-available;
    }

    main .extract {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    main {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        width: auto;
    }

    .controle-financeiro,
    .extract-container {
        display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 20px;
        width: 50%;
        margin: 40px;
    }

    .btn-adicionar {
        display: flex;
        color: #FFFFFF;
        box-sizing: border-box;
        background: #333333;
        border: none;
        height: 32px;
        width: 20rem;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
    }

    .controle-financeiro {
        border: 2px solid #E0E0E0;
        border-radius: 5px;
    }

    .extract-title {
        display: flex;
        justify-content: space-evenly;
    }

}