* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin-left: 0%;
    margin-right: 0%;
}

/*RESPONSIVIDADE MOBILE*/

@media screen and (max-width:820px) {
    header {
        display: flex;
        font-size: 18px;
        flex-direction: row;
        background-color: #E0E0E0;
        height: 100%;
        width: auto;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        padding-right: 25px;
        padding-left: 25px;
        max-width: 100%;
    }

    .menu {
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }

    main .extract {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-around;
    }

    input,
    #state {
        width: stretch;
        width: -webkit-fill-available;
        width: -moz-available;
    }


    h3 {
        font-style: normal;
        font-weight: 400;
    }

    .btn-adicionar {
        display: flex;
        color: #FFFFFF;
        box-sizing: border-box;
        background: #333333;
        border: none;
        height: 32px;
        width: 20rem;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
    }

    .controll {
        display: flex;
        align-items: stretch;
        width: 100%;
        padding: 20;
        border-bottom: 2px solid #E0E0E0;
        flex-direction: column;
        padding: 20px;
    }

    .transacao-title {
        visibility: hidden;
    }

    .extract-title {
        padding-top: 35px;
        display: flex;
        justify-content: space-evenly;
    }


    P.valor-transação p.mercadoria {
        border-bottom: 2px #333333 solid;
    }

}

/*FIM DA RESPONSIVIDADE MOBILE */
/*********************************************************/
/* RESPONSIVIDADE TABLET PORTRAIT */

@media screen and (min-width:821px) and (max-width: 1023px) {
    header {
        display: flex;
        font-size: 22px;
        flex-direction: row;
        background-color: #E0E0E0;
        height: 100%;
        width: auto;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        padding-right: 35px;
        padding-left: 35px;
        max-width: 100%;
    }

    .controll {
        display: flex;
        border: 2px solid #E0E0E0;
        border-radius: 5px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        margin: 20px;
        flex-direction: row;
        padding: 20px;
    }

    input,
    #state {
        width: stretch;
        width: -webkit-fill-available;
        width: -moz-available;
        width: 13rem;
    }

    .container-btn-add {
        display: flex;
        margin-top: 20px;
        justify-content: end;
    }

    .btn-adicionar {
        color: #FFFFFF;
        background: #333333;
        border: none;
        height: 32px;
        width: 20rem;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
    }

    .extract-title,
    .transacao-title {
        padding-top: 35px;
        display: flex;
        justify-content: space-evenly;
    }

    main .extract {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-around;
    }
}

/*FIM DA RESPONSIVIDADE TABLET PORTRAIT */
/*********************************************************/
/* RESPONSIVIDADE TABLET LANDSCAPE */

@media screen and (max-width:1023px) and (orientation: landscape) {
    main {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-around;
    }

    .controll {
        display: flex;
        border: 2px solid #E0E0E0;
        border-radius: 5px;
        flex-wrap: nowrap;
        margin: 20px;
        flex-direction: column;
        padding: 20px;
    }
}

/*FIM DA RESPONSIVIDADE TABLET LANDSCAPE */
/*********************************************************/
/* RESPONSIVIDADE DESKTOP */

@media screen and (min-width:1024px) and (max-width: 1900px) {
    header {
        display: flex;
        font-size: 25px;
        flex-direction: row;
        background-color: #E0E0E0;
        height: 100%;
        width: auto;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        padding-right: 35px;
        padding-left: 35px;
        max-width: 100%;
    }

    input,
    #state {
        width: stretch;
        width: -webkit-fill-available;
        width: -moz-available;
    }

    main .extract {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    main {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        width: auto;
    }

    .controll,
    .extract-container {
        display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 20px;
        width: 50%;
        margin: 40px;
    }

    .btn-adicionar {
        display: flex;
        color: #FFFFFF;
        box-sizing: border-box;
        background: #333333;
        border: none;
        height: 32px;
        width: 20rem;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
    }

    .controll {
        border: 2px solid #E0E0E0;
        border-radius: 5px;
    }

    .extract-title {
        display: flex;
        justify-content: space-evenly;
    }

}