* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin-left: 0%;
    margin-right: 0%;
}

body {
    margin-top: 0%;
}

/*RESPONSIVIDADE MOBILE*/
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    background-color: #E0E0E0;
    height: 100%;
    padding-right: 25px;
    padding-left: 25px;
    flex-wrap: nowrap;
    max-width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.menu {
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

main .extract {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
}

input,
#estado-transacao {
    width: stretch;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #979797;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #888888;
    padding-left: 10px;
}


h3 {
    font-style: normal;
    font-weight: 400;
}

.botao-adicionar {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    color: #FFFFFF;
    background: #333333;
    border: none;
    height: 32px;
    width: 100%;
    border-radius: 4px;
    align-items: center;
}

.controle-financeiro {
    display: flex;
    align-items: stretch;
    width: 100%;
    border-bottom: 2px solid #E0E0E0;
    flex-direction: column;
    padding: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.transacao-titulo {
    visibility: hidden;
}

.extract-title {
    padding-top: 35px;
    display: flex;
    justify-content: space-evenly;
}

P.valor-transação p.mercadoria {
    border-bottom: 2px #333333 solid;
}

/*FIM DA RESPONSIVIDADE MOBILE */
/*********************************************************/
/* RESPONSIVIDADE TABLET PORTRAIT */

@media screen and (min-width:821px) and (max-width: 1023px) {
    header {
        display: flex;
        font-size: 22px;
        flex-direction: row;
        background-color: #E0E0E0;
        height: 100%;
        width: auto;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        padding-right: 35px;
        padding-left: 35px;
        max-width: 100%;
    }

    .controle-financeiro {
        display: flex;
        border: 2px solid #E0E0E0;
        border-radius: 5px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        margin: 20px;
        flex-direction: row;
        padding: 20px;
    }

    .extract-title,
    .transacao-titulo {
        padding-top: 35px;
        display: flex;
        justify-content: space-evenly;
    }

    main .extract {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-around;
    }
}

/*FIM DA RESPONSIVIDADE TABLET PORTRAIT */
/*********************************************************/
/* RESPONSIVIDADE TABLET LANDSCAPE */

@media screen and (max-width:1023px) and (orientation: landscape) {
    main {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-around;
    }

    .controle-financeiro {
        display: flex;
        border: 2px solid #E0E0E0;
        border-radius: 5px;
        flex-wrap: nowrap;
        margin: 20px;
        flex-direction: column;
        padding: 20px;
    }
}

/*FIM DA RESPONSIVIDADE TABLET LANDSCAPE */
/*********************************************************/
/* RESPONSIVIDADE DESKTOP */

@media screen and (min-width:1024px) and (max-width: 1900px) {
    header {
        display: flex;
        font-size: 25px;
        flex-direction: row;
        background-color: #E0E0E0;
        height: 100%;
        width: auto;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        padding-right: 35px;
        padding-left: 35px;
        max-width: 100%;
    }

    input,
    #estado-transacao {
        width: stretch;
        width: -webkit-fill-available;
        width: -moz-available;
    }

    main .extract {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    main {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        width: auto;
    }

    .controle-financeiro,
    .extract-container {
        display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 20px;
        width: 50%;
        margin: 40px;
    }

    .btn-adicionar {
        display: flex;
        color: #FFFFFF;
        box-sizing: border-box;
        background: #333333;
        border: none;
        height: 32px;
        width: 20rem;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
    }

    .controle-financeiro {
        border: 2px solid #E0E0E0;
        border-radius: 5px;
    }

    .extract-title {
        display: flex;
        justify-content: space-evenly;
    }

}